.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.header, .loginBtn{
    display: flex;
    align-items: center;
}

.login{
    text-decoration: none;
    color: inherit;
}

